extends layout

block content
  .row
    h1 MakerPass System Status
    each iface,idx in interfaces
      .panel.panel-info
        .panel-heading
          h3.panel-title
            a( href="/interface/#{iface.name}" )= iface.name
        .panel-body
          .row
            .col-md-4
              table.table
                thead
                  tr
                    th( colspan=2 ) Interface Info
                tbody
                  tr
                    td Index
                    td= iface.idx
                  tr
                    td Status
                    td= iface.status
                  tr
                    td Buffer Size
                    td= iface.buffer.length
                  tr
                    td Last Message
                    td= iface.lastMessage
                  tr
                    td Total Messages
                    td= iface.totalMessages
            .col-md-8
              table.table
                thead
                  tr
                    th Node ID
                    th Auth ID
                    th Inputs
                    th Outputs
                    th Variables
                    th Events
                tbody
                  each node in iface.nodes
                    tr
                      td
                        a( href="/node/#{node.id}" )= node.id
                      td= node.authid
                      td= node.inputs.length
                      td= node.outputs.length
                      td= node.variables.length
                      td= node.events.length
        if iface.error
          p.bg-danger= iface.error
  
  .row
    .panel.panel-info
      .panel-heading
        h3.panel-title Unassociated Nodes
      .panel-body
        .row
          .col-md-8
            table.table
              thead
                tr
                  th Node ID
                  th Auth ID
                  th Inputs
                  th Outputs
                  th Events
              tbody
                each node in unclaimed
                  tr
                    td
                      a( href="/node/#{node.id}" )= node.id
                    td= node.authid
                    td= node.inputs.length
                    td= node.outputs.length
