extends layout

block content
  form.form-horizontal( role="form" )

  .row
    h1 Node "<span id="nodeid">#{node.id}</span>"

  .row
    .col-md-6

      .panel.panel-default
        .panel-heading
          h3.panel-title Inputs
        .panel-body
          table.table
            thead
              tr
                th Name
                th Pin
                th State
            tbody
              each input in node.inputs
                tr( id=input.pin )
                  td= input.name
                  td= input.pin
                  td
                    a.value( data-name=input.name data-type='input' )

      .panel.panel-default
        .panel-heading
          h3.panel-title Outputs
        .panel-body
          table.table
            thead
              tr
                th Name
                th Pin
                th State
            tbody
              each output in node.outputs
                tr( id=output.pin )
                  td= output.name
                  td= output.pin
                  td
                    a.value( data-name=output.name data-type='output' )

      .panel.panel-default
        .panel-heading
          h3.panel-title Variables
        .panel-body
          table.table
            thead
              tr
                th Variable
                th Type
                th Value
            tbody
              each variable in node.variables
                tr
                  td= variable.name
                  td= variable.type
                  td.value( data-name=variable.name data-type='variable' )

    .col-md-6

      .panel.panel-default
        .panel-heading
          h3.panel-title Information
        .panel-body
          table.table
            tr
              th Auth ID
              td
                i.fa.fa-key &nbsp;
                span.value( data-name='authid' data-type='info' )= node.authid
            tr
              th Last Card Scanned
              td
                i.fa.fa-credit-card &nbsp;
                span.value( data-name='lastCardScanned' data-type='info' )
            tr
              th Last Message Time
              td
                i.fa.fa-clock-o &nbsp;
                span.value( data-name='lastMessageTime' data-type='info' )
            tr
              th Total Messages
              td
                i.fa.fa-times-circle &nbsp;
                span.value( data-name='totalMessages' data-type='info' )

      if node.fake
        .panel.panel-default
          .panel-heading
            h3.panel-title Fake Node Debugging
          .panel-body
            .row
              .form-group
                label.col-sm-3.control-label( for="sendmesg" ) Raw Message
                .col-sm-9
                  input.form-control#sendmesg( type="text" )
                  br
            .row
              .form-group
                label.col-sm-3.control-label( for="sendcard" ) Fake Card
                .col-sm-9
                  input.form-control#sendcard( type="text" )

      .panel.panel-default
        .panel-heading
          h3.panel-title Recent Messages
        .panel-body
          ul.fa-ul#msglog

          //.input-group
            span.input-group-addon
              label( for="cardNumber" ) Card Number
            input.form-control#cardNumber( type="text" )
  - var nodeconf = JSON.stringify( node, null, '    ' );
  script!= "\n$( function() { new MPNode( " + nodeconf + " ); } );\n"
